@model IEnumerable<practice.Models.User>;
    <div class="container">
    <div class="row-8">
        <div class="col-6">
            <h1 class="text-center text-primary">Employee Recourd</h1>
            <a class="btn btn-sm btn-success" asp-controller="Account" asp-action="Create">Create</a>
            <table class="table table-bordered">
                <tr class="text-center">
                    <th>UserID</th>
                <th>UserName</th>
                <th>UserGender</th>
                <th>UserEmail</th>
                <th>UserPassword</th>
                 

                </tr>
            @foreach(var d in Model)
            {
                <tr>
                    <td>@d.Id</td>
                    <td>@d.Name</td>
                    <td>@d.Gender</td>
                    <td>@d.Email</td>
                    <td>@d.Password</td>
                    <td>
                        <a class="btn btn-sm btn-warning" asp-controller="Account" asp-action="Edit" asp-route-id="@d.Id">Edit

                        </a>
                         <a class="btn btn-sm btn-danger" asp-controller="Account" asp-action="Delete" asp-route-id="@d.Id">Delete</a>

                    </td>

                     
                </tr>
            }
        </table>
        </div>
    </div>
    </div>